* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 45px;
}

body {
  box-sizing: border-box;
  background-color: #fafafa;
}

#container {
  width: 80%;
  margin: auto;
}

/* NAV BAR */
#navbar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#navbar .navName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  width: 60%;
}
#navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
#navbar a:hover {
  color: #95bca4;
  font-weight: bold;
}
#navbar .navbarElements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: none;
  align-items: center;
  width: 60%;
  list-style-type: none;
}
#navbar .navbarElements .icon {
  display: none;
}
@media (max-width: 768px) {
  #navbar .navbarElements a {
    display: none;
  }
  #navbar .navbarElements .icon {
    float: right;
    display: block;
  }
}

.navName_responsive {
  width: 80%;
  list-style-type: none;
  height: 225px;
}

#navbarElements.navbarElements_responsive {
  align-items: flex-start;
  width: 20%;
  list-style-type: none;
}

.navbarElements_responsive {
  background: #f0f0f0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-self: first baseline;
}
.navbarElements_responsive :nth-child(1) {
  order: 2;
}
.navbarElements_responsive :nth-child(2) {
  order: 3;
}
.navbarElements_responsive :nth-child(3) {
  order: 4;
}
.navbarElements_responsive :nth-child(4) {
  order: 5;
}
.navbarElements_responsive :nth-child(1) {
  order: 1;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 3em;
}
@media (max-width: 1181px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 1.5em;
  }
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
@media (max-width: 1181px) {
  h2 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 1181px) {
  h3 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 15px;
  }
}

a {
  color: #95bca4;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

/* Logos */
.body-logos {
  text-align: center;
}
.body-logos img {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Traitement Boutons */
button {
  color: #fafafa;
  font-size: 16px;
  border-radius: 10px;
  border: 0px;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 20px;
}
@media (max-width: 768px) {
  button {
    width: 100%;
  }
}
button a {
  color: #fafafa;
}

.btn-primary {
  background-color: #95bca4;
}
.btn-primary:hover {
  background-color: #5b8a6e;
}

/* FIN TRAITEMENT BOUTTONS */
footer {
  background-color: #95bca4;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2em;
}
footer .footer-logos {
  text-align: center;
}
footer .footer-logos img {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Traitement Images et Logos */
.bike {
  text-align: center;
}
.bike img {
  height: 150px;
}

/* PAGE PHOTO */
.grid {
  margin-top: 40px;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-item {
  width: 33.33%;
}
@media (max-width: 768px) {
  .grid-item {
    width: 100%;
  }
}

.grid-item {
  float: left;
  margin-bottom: 0.5em;
}

.grid-item img {
  display: block;
  max-width: 97%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, 25 0px);
  margin-top: 50px;
  margin-bottom: 60px;
}
.wrapper h2 {
  font-weight: bold;
  margin: 0;
}
.wrapper .projet {
  border-color: #95bca4;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.wrapper .projet:hover {
  transform: translate3d(2px, 0, 0px);
  transform: scale(1.05, 1.05);
}
.wrapper img {
  width: 40px;
}
.wrapper a {
  text-decoration: none;
  color: #333;
}
.wrapper a:hover {
  font-weight: normal;
}
.wrapper h3 {
  font-weight: bold;
}
@media (max-width: 1181px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
